In [1]:
print('hello workld')

hello workld

In [2]:
a=10
b=3.14
c='machine learning'
d='hi'
e='x'
f=[1,2,3]
print(a,b,c,d,e,f)

10 3.14 machine learning hi x [1, 2, 3]

In [3]:
print(a)

10

In [7]:
print("a's type:", type(a))
a="variables can change types"
print("a's type:", type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

a's type: <class 'int'>
a's type: <class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'list'>

In [13]:
x=[1,2,3]
y=x
x[0] = 'abc'
print(y)

['abc', 2, 3]

In [14]:
z=x[1]
x[1]="what"
print(x)
print(z)
x.append(70)
x.insert(2,90)
print(x)

['abc', 'what', 3]
2
['abc', 'what', 90, 3, 70]

In [15]:
print(x.index(90))
print(len(x))
print(x+x)

2
5
['abc', 'what', 90, 3, 70, 'abc', 'what', 90, 3, 70]

In [16]:
my_list = [33,55,'hello','R2D2',7.8,'banana']
print( my_list[1:5] )
print( my_list[:4])
print( my_list[4:])
print( my_list[:])

[55, 'hello', 'R2D2', 7.8]
[33, 55, 'hello', 'R2D2']
[7.8, 'banana']
[33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [17]:
my_slice = my_list[1:5]
my_slice[2] = 'what'
print(my_slice)
print(my_list)
print(my_list[1:5] + 2*['Drake','University'])
my_list[:0] = ['Bulldogs']
print(my_list)

[55, 'hello', 'what', 7.8]
[33, 55, 'hello', 'R2D2', 7.8, 'banana']
[55, 'hello', 'R2D2', 7.8, 'Drake', 'University', 'Drake', 'University']
['Bulldogs', 33, 55, 'hello', 'R2D2', 7.8, 'banana']

In [18]:
my_list = [42, 3.14, 'hello', ['ice', 'ice', 'baby']]
print(my_list[3][2])
print(my_list[2][1])
# wait, what? 
# explain what is happening here
#[3][2] is index 2 of index 3 of my list
#[2][1] is index 1 of index 2, or the 2nd character of 'hello'

baby
e

In [19]:
my_tuple = (100,200,'300')
print(my_tuple[1])
my_dictionary = {'x':42, 'y':3.14}
print(my_dictionary['x'])

200
42

In [23]:
# Each of these lines will cause an error. 
# Can you describe why before running them one at a time?

print(my_list[1][2])
#"Float not subscriptable" so you can't index a float
my_tuple[1] = 0
print(my_dictionary[1])
#There is no key 1 in the dictiopnary

TypeError: ignored

In [24]:
# If statements and for loops
x = int(input())
if x < 0:
    print("x is negative")
elif x % 2:
    print("x is positive and odd")
else:
    print("x is even and nonnegative")

num_list = [3, 7, 9,17, 2]
for num in num_list:
    print(num)

print(range(10,20))
for n in range(10,20):
    print(n)

4
x is even and nonnegative
3
7
9
17
2
range(10, 20)
10
11
12
13
14
15
16
17
18
19

In [25]:
# iterating Through Data
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
# method 1
for element in my_data:
    print(element)

# method 2
for idx in range(len(my_data)):
    print(my_data[idx])

#####
# Explain why these won't work:
my_data = [5.3, 3.2, 4.1, 5.9, 6.7, 3.5]
for i in my_data:
    print( my_data[i] )
#Not returning index, is returning the value. (example: my_data[5.3] doesn't exist)

for i in range(len(my_data)):
    print( i )
#Will just print numbers up to length of the list

for i in range(my_data):
    print( my_data[i] )
#Needs to be range(len(my_data))

5.3
3.2
4.1
5.9
6.7
3.5
5.3
3.2
4.1
5.9
6.7
3.5

TypeError: ignored

In [26]:
import pandas

In [28]:
import pandas as pd
# The first step is to mount your Google Drive to your Colab account. 
#You will be asked to authorize Colab to access your Google Drive. Follow the steps they lead you throuh.

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
#Download the restaurant data (it's in Blackboard under 'datasets'), and put it in your Google Drive. Make a note of the path
#I would suggest creating a datasets folder somewhere easy to get to, we'll be using this a lot.
# your path will look like '/content/drive/MyDrive/....wherever you put the data'

#change the following line so that it points to where you put restaurant.csv.
data = pd.read_csv('/content/drive/MyDrive/CS167/Datasets/restaurant.csv')
data.head()

   alt  bar  fri  hun   pat price rain  res    type    est target
0  Yes   No   No  Yes  Some   $$$   No  Yes  French   0-10    Yes
1  Yes   No   No  Yes  Full     $   No   No    Thai  30-60     No
2   No  Yes   No   No  Some     $   No   No  Burger   0-10    Yes
3  Yes   No  Yes  Yes  Full     $   No   No    Thai  10-30    Yes
4  Yes   No  Yes   No  Full   $$$   No  Yes  French    >60     No

In [31]:
print(data['price'])

0     $$$
1       $
2       $
3       $
4     $$$
5      $$
6       $
7      $$
8       $
9     $$$
10      $
11      $
Name: price, dtype: object

In [32]:
print(data.loc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [33]:
print(data.loc[3, 'type'])

Thai

In [34]:
print(data.loc[3, 'type'])

Thai

In [35]:
print(data.iloc[3,8])

Thai

In [36]:
print(data.iloc[3][8])

Thai

In [37]:
print(data.iloc[3])

alt         Yes
bar          No
fri         Yes
hun         Yes
pat        Full
price         $
rain         No
res          No
type       Thai
est       10-30
target      Yes
Name: 3, dtype: object

In [38]:
print(data['est'])

0      0-10
1     30-60
2      0-10
3     10-30
4       >60
5      0-10
6      0-10
7      0-10
8       >60
9     10-30
10     0-10
11    30-60
Name: est, dtype: object

In [39]:
data.loc[5]

alt            No
bar           Yes
fri            No
hun           Yes
pat          Some
price          $$
rain          Yes
res           Yes
type      Italian
est          0-10
target        Yes
Name: 5, dtype: object

In [40]:
print(type(data))#DataFrame, basically a table
print(type(data['est']))#series, which is a row or column
print(type(data.loc[0]))#series
print(type(data.iloc[3,8]))#string, because it is the contents of a cell

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'str'>

In [41]:
data1 = pd.read_csv('/content/drive/MyDrive/CS167/Datasets/irisData.csv')
data1.head()

   sepal length  sepal width  petal length  petal width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [42]:
type(data1['sepal length'].loc[0])

numpy.float64

In [43]:
data.iloc[3:6, 4:8]

    pat price rain  res
3  Full     $   No   No
4  Full   $$$   No  Yes
5  Some    $$  Yes  Yes

In [45]:
data1.iloc[3:6,3:8]

   petal width      species
3          0.2  Iris-setosa
4          0.2  Iris-setosa
5          0.4  Iris-setosa

In [50]:
print(data['rain'].iloc[4])

No

In [47]:
print(data['type']=='Thai')

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7      True
8     False
9     False
10     True
11    False
Name: type, dtype: bool

In [49]:
print(data[ data['type'] == 'Thai'])

    alt bar  fri  hun   pat price rain  res  type    est target
1   Yes  No   No  Yes  Full     $   No   No  Thai  30-60     No
3   Yes  No  Yes  Yes  Full     $   No   No  Thai  10-30    Yes
7    No  No   No  Yes  Some    $$  Yes  Yes  Thai   0-10    Yes
10   No  No   No   No  None     $   No   No  Thai   0-10     No